@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.contenedor{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

*{
    box-sizing: border-box;
}
.tarjeta{

margin-bottom: 2%;
width: 22%;

}

.textoFooter{
    width: 20%;
    color:white;
    margin: 0 auto;

}